<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Review page</title>
</head>
<body>
      <div class="container justify-content-center">
          <div class = "row justify-content-center p-1">
              <div class = "col-6">
                  <img src="{{ track['image_url'] }}" class="rounded float-start" alt="{{ track['title'] }}">
              </div>
              <div class = "col-6">
                  <h2>{{track['title']}}</h2>
                  <h4>by: {{track['artist']}}</h4>
              </div>
          </div>
          <div class = "row justify-content-center p-1">
              <div class = "col-6 justify-content-center">
                <form action="/add/review/one" method="post" class="row">
                    <input type="hidden" name="track_id" value="{{track['id']}}">
                    <label>Rating <input type="number" name="rating" class = "text-dark"></label>
                    <textarea name="content" class = "text-dark p-2"></textarea>
                    <input type="submit" value="POST" class = "btn btn-outline-secondary col-3 mt-2 justify-self-center">
                </form>
              </div>
              
          </div>
      </div>
       
        
</body>
</html>