*{
    margin: 0;
    padding: 0;
    outline: none;
    color: #fff;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg,#00d5fc,#046af6);
}

.container {
    position: relative;
    align-items: center;
    padding: 20px 30px ;
    width: 400px;
    background: #0b0909;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); 

}

.switch{
    position: absolute;
    right: 30px;
    display: flex;
    border-bottom: 1px solid #fe0066;
}

.switch:after{
    content: '';
    height: 6px;
    width: 60px;
    background: #fe0066;
    border-radius: 60px 60px 0 0; 
    position: absolute;
    bottom: 0;
    left: 8px;
    transition: 0.3s ease ;
    
}

.switch:active{
    border-bottom: 1px solid #12ff00;
    
}


.switch.active:after{
    left:82px;
    width: 70px;
    background: #12ff00;
    border-bottom: 1px solid #12ff00;
}



.login{
    padding: 5px 12px;
    background: linear-gradient(45deg,#00d5fc, #046af6);
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.register {
    padding: 5px 12px;
    margin-bottom: 10px;
    border-radius: 50px;
    text-align: right;
    margin-left: 4px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

.container .outer {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    overflow: hidden;
}

.outer #form {
    width: 200%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    transition: 0.2s ease-in-out;
}

#page {
    margin: auto;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 10px 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.element {
    position: relative;
}

.element input{
    width: 80%;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
    background: #2a2a2a;
    border: 1px solid #f5f4f4;
    padding-left: 40px;
    font-size: 20px;
    letter-spacing: 1px;

}

input::placeholder{
    color: #d4cdcd;
    font-size:  20px;

}

#btn {
    padding: 5px 25px;
    background: linear-gradient(45deg, #0326f9,#01fcf9);
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

a.btn{
    padding: 5px 25px;
    background: linear-gradient(45deg, #0326f9,#01fcf9);
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

a.btn#on {
    padding: 5px 25px;
    background: linear-gradient(45deg, #0326f9,#01fcf9);
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

a.btn#off {
    padding: 5px 25px;
    background: linear-gradient(45deg, #d8d8d8,#868686);
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
    cursor: pointer;
}

a.btn#delete {
    background: linear-gradient(45deg,#fc0101,#ff73ab);
    padding: 2px 10px;
    font-size: 20px;
}

#btn:active {
    transform:  scale(1.01);
}